<aside class="credits">
  <p><small>Copyright &copy;{{ 'now' | date: '%Y' }} {{ shop.name }}</small></p>
  <p><small>{% if settings.show_store_credits != "" %}{{ settings.show_store_credits }}{% elsif settings.show_theme_credits %}Theme by <a href="http://luciddesign.co.nz" title="Lucid Design, beautiful, elegant design for web and print. Nelson, New Zealand">Lucid Design</a>.</small></p>
  <p><small>Powered by <a href="http://www.shopify.com/?ref=lucid-design">Shopify</a>.{% endif %}</small></p>
</aside>