<div class="span12" id="main-content">
    <h1 class="page-title instapaper_title entry-title">{{ page.title }}</h1>
	<div id="page-content" class="rte">
		{{ page.content }}
	</div><!-- #page-content -->
</div><!-- #page-container -->